body {
	font-family: Rubik;
    font-weight: 400;
    color: #737476;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 70px;
    position: relative;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/**************** NAVBAR SECTION ***************/

.navbar {
    background-color: #F48988;
    height: 80px;
    margin-bottom: 0;
    border: none;
}

.navbar-toggle {
    padding: 10px;
    margin-top: 23px;
    margin-right: 18px;
    margin-bottom: 23px;
    border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    color: #784242;
    background-color: transparent; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 415px;
}

.navbar-collapse.in {
    background-color: #C7C7C7;
    border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    padding: 30px 40px;
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #784242;
}

.navbar-default .nav>li>a {
    padding: 30px 40px;
    color: #FFFFFF;
}

.navbar-default .nav>li>a:hover {
    background-color: transparent; 
    color: #784242;
}


/**************** EACH SECTIONS ***************/

.slide {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.row {
    margin: 0px;
}

.wrapper {
    margin-top: 40px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0px;
}


/**************** HOME SECTION ***************/

#headshot {
    height: 200px;
    margin-bottom: 40px;
    /*box-shadow: 5px 5px 5px #888888;*/
}

.img-rounded {
    border-radius: 100%;
}

#header-subtitle {
    margin-top: 15px;
}


/**************** WORK SECTION ***************/

#work {
    background-color: #F8F8F8;
}

#wourds-landing-img {
    margin-bottom: 0px;
}

#wourds-description {
    line-height: 34px;
}


/**************** SKILLS SECTION ***************/

.skills-name {
    float: left;
    clear: right;
    width: 100%;
    text-align: left;
    font-weight: 500;
    line-height: 19px;
}

.skills-subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    text-align: left;
}

.progress {
    background:#D3E5E6; 
    height:38px;
    margin: 10px 0px 40px 0px;
}

.progress-bar {
    background: #BDDCDE;  /* #bddedb  #bdd4de */
    height:100%;
    width:0%;
}

.front-end, .back-end, .cs-fund, .tools {
    -webkit-transition: width 2.50s ease !important;
    -moz-transition: width 2.50s ease !important;
    -o-transition: width 2.50s ease !important;
    transition: width 2.50s ease !important;
 }

 .col-md-6 {
    padding-right: 0px;
 }


/**************** ABOUT SECTION ***************/

#about {
    background-color: #F8F8F8;
}

#about-me {
    line-height: 34px;
}

