body {
	font-family: Lato;
    padding-top: 70px;
	/*background: #65beb4;*/
}

p {
    font-size: 18px;
}

.navbar {
    background-color: #F48988;
    height: 80px;
    margin-bottom: 0;
    border: none;
}

.nav>li>a {
    padding: 30px 40px;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
}

.slide {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#home {
    height: 600px;
}

.header {
    padding-top: 100px;
    padding-bottom: 100px;
}

#work {
    background-color: #F8F8F8;
}

#skills {
    height: 600px;
}

#about {
    background-color: #F8F8F8;
}

#headshot {
    /*box-shadow: 5px 5px 5px #888888;*/
}

.img-rounded {
    border-radius: 100%;
}

#about-div2 {
    padding-top: 30px;
}

#wourds-title {
    border: none;
}





/*.navbar-default .navbar-nav>li>a:hover {
    color: #777;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}*/